* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;

/*    background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
/*    text-transform: uppercase;*/
    width:100%;
}

.view {
    display: none;
    margin: 12px 12px 62px 12px;
}

.view.visible {
    display: block;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    z-index: 1;
    border-top: 2px solid black;
}

.button {
    display: block;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    text-align: center;
    background: rgba(76,76,76,1);
    opacity: 1;
}

.button:active {
    opacity: 0.5;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button + .button {
    border-left: 2px solid black;
}

.footer-text {
    line-height: 50px;
    color: white;
    font-weight: 900;
    font-size 18px;
}